<div class="md-padding" flex layout-sm="column">

    <md-card>
        <md-card-content>
            <div layout= "row">
                <img ng-src="app/assets/images/captain-america-3.jpg" width="150" height="100 ">
                <h1 class="md-headline"> &nbsp;Review: Avengers 3 aka "Captain America: Civil War"</h1> 
            </div>
            <h3 class="md-body-2">
                <p contenteditable="true"  class = "textEditor">                  
                        
                    &nbsp;Poor Captain America. You know how it is. You’re frozen in a block of ice and when you wake up several decades later the world has gotten so complicated! Everyone you loved is dead except your 96 year old girlfriend with Alzheimers (Agent Peggy Carter) and your brainwashed homicidal boyfriend (Bucky/The Winter Soldier) who is totally ghosting you.
                    
                </p>
               
                <p contenteditable="true"  class = "textEditor1">
            
                    New friends are plentiful but also trouble. Either they have two faces (Black Widow/Agent 13) or they’re constantly vanishing for personal reasons (Thor/Hulk/Hawkeye) so you totally can’t rely on them.Or maybe they aren’t your friends at all. Take Iron Man, causing you grief. (Remember that whole Ultron mishegoss? Totally his fault!) 
                </p>
             
                <img ng-src="app/assets/images/maxresdefault.jpg" width="1050" height="600 ">
                &nbsp;
               
                <p contenteditable="true"  class = "textEditor2">
            
                    Due to expert handling of the world’s most beloved super soldier by both Marvel Studios and Chris Evans over multiple films somehow this is all terribly relatable. It’s hard not to feel for Steve Rogers as we return to him just when the s*** is hitting the fan again.
                </p>
                
                <p contenteditable="true"  class = "textEditor3">
            
                    See, at the beginning of Captain America: Civil War The Avengers accidentally cause a building to explode in the nation of Wakanda and civilians are killed. The accident kickstarts a global government debate about how to keep Earth’s Mightiest Heroes in check. Before the team can do damage control tragedy strikes again - The Winter Soldier has apparently gone on a new killing spree. Steve can’t believe his beloved Bucky would do that but everyone else is totally all ‘yup, sounds like him’.
                </p>
                
                
                <p contenteditable="true"  class = "textEditor4">
            
                    Enter Prince T’Challa, aka The Black Panther (Chadwick Boseman, commanding and thoughtful) who wants to avenge his people. Captain America can’t have that because Bucky is his friend!  Honestly, are superheroes more trouble than they’re worth?
                </p>
               
              
                <p contenteditable="true"  class = "textEditor5">
            
                    Oh, for the nostalgia of simpler times. Captain America has had a hard time adjusting to the modern world but that’s because he isn’t from it.  While nearly all of the Marvel superheroes that dominate pop culture today were created in the turbulent 1960s (X-Men, Spider-Man, Iron Man, you name it) and quickly changed comic books with their personal angst & character flaws, Captain America made his first appearance way back in 1941. Those were less confusing days when even foreigners like Superman and Wonder Woman were patriotic for America and always on the right side of every fight. The bad guys were easy to spot, too, because they had their skulls on the outside of their faces or were wearing Nazi uniforms.
                </p>
                
                
                <p contenteditable="true"  class = "textEditor6">
            
                    So, Happy 75th Anniversary, Captain America! To celebrate you’re going to war with all of your new friends over the Sokovia Accords, which will basically put a leash on supers, requiring them to act only with the approval of a United Nations council.
                </p>
               
               
                <p contenteditable="true"  class = "textEditor7">
            
                    Half of the Avengers, including Captain America, think this is a terrible idea and half are all “Where do I sign?” and thus the infighting begins. The fight begins with words (so many words for a superhero movie!) and then with fists… and shields… and claws (Hellooo, Black Panther. Very exciting to meet you) and energy bolts… and spiderwebs (yes, it’s true: New Spider-Man is bliss)… and arrows … and disorienting shrinking… and whatever it is that Scarlet Witch and Vision are doing because nobody understands that.
                </p>
                <img ng-src="app/assets/images/maxresdefault 1.jpg" width="1050" height="600 ">
                &nbsp;
           
                <p contenteditable="true"  class = "textEditor8">
            
                    The superhero genre is often compared to the western and for easy to spot reasons: there are the clearly delineated lines between good and evil (even signified by costumes when deeds aren’t enough), the moody loner hero who runs toward trouble rather than away from it, showdowns and duels as the ultimate arbiter of justice, and (sigh) the women being mostly decorative.
                </p>
               
                
                <p contenteditable="true"  class = "textEditor9">
            
                    But if the superhero movie is the new Western we’re obviously moving into the late John Ford years and towards the Clint Eastwood era when everything became more introspective, politically troubling, and the arid yellow landscapes went all grey with moral murkiness and even regret about the violence.
                </p>
               
                
                <p contenteditable="true"  class = "textEditor10">
            
                    Less than two months ago DC/Warner Bros’ <i>Batman vs Superman: Dawn of Justice (reviewed) </i> wrung its hands wondering what could be done about the collateral damage of super-battles. And now it’s Marvel/Disney’s turn to sweat it out over the mass casualties.
                </p>
                
                
                <p contenteditable="true"  class = "textEditor11">
            
                    The difference this time is a) the movie is not garbage b) the action is coherent and c) it makes sense for these particular characters to behave in these particular ways because the movie is true to their personalities and not a gross misrepresentation of everything they stand for (but enough about Superman!) .
                </p>
                
               
                <p contenteditable="true"  class = "textEditor12">
            
                    The end result, curiously, is much the same: by forcing movie audiences to confront the particulars of what visual mayhem would do to our real world within this fantasy context (why?) the movie studios are taking much of the fun out of the spectacle. And the spectacle is the whole reason for the genre! In one battle sequence a hero rips the wing off of a grounded plane to fight with it and instead of feeling a gleeful “wow!” at the action I found myself distracted thinking “who is going to pay for that?!” which is really not what you should be thinking when watching a superhero film.
                </p>
            
              
                <p contenteditable="true"  class = "textEditor13">
            
                    What is going on here? Do movie studios feel guilty about all the money they’re making from CGI spectacles of destruction?! I’d love to report that Captain America Civil War is the best Marvel Studios film yet, because that’s what I’ve been reading and probably what you’ve been hearing, too. But I cannot. As noble Steve Rogers himself says (paraphrasing here) in all earnestness, in one of the key scenes:
                </p>
                
                <code layout-align="center center"> 
            
                    'Doesn’t matter if the whole world decides that something wrong is something right. When they tell you to move, your job is to plant yourself like a tree and tell the whole world… ‘no, you move.’
                </code>
                &nbsp;
               
                <p contenteditable="true"  class = "textEditor14">
            
                    My conscience prevents me from getting caught up in the hype and declaring this The Best. It’s the least focused on Captain America (the best character in these films) because it’s essentially The Avengers 3: The Sokovia Accords.
                </p>
                
                <p contenteditable="true"  class = "textEditor15">
            
                    While it’s a huge relief that Civil War only makes one reference to those damn Infinity Stones (by the time that story happens it’ll be totally anti-climactic) and the Russo brothers in the directors chair show a fairly deft hand at balancing a dozen characters and keeping the action exciting, elsewhere there’s a bit of flailing.
                </p>
                
               
                <p contenteditable="true"  class = "textEditor16">
            
                    The villain, as in most Marvel films, is worthless. The setup for the Sokovia Accords takes forever which also tries the patience. We know all along where the film is heading and unless every future film gets bogged down in the Accords (unlikely, else the heroes will be criminals in every film going forward) it’s a MacGuffin anyway. And while each action sequence has its own thrilling moments and structure they’re uniformly sparse and low rent visually. Perhaps it’s the overcast minimalism of the grey sterile sets: airport hangars, plain stairwells, empty apartments, ancient science labs; it’s like the studio didn’t want to pay ANY extras this time around and wanted to repurpose their own abandoned sets.
                </p>
                   

               
                <i>
                    <p contenteditable="true"  class = "textEditor17">
            
                        When the ending arrives 2½ hours later you’re left with the feeling of “….and?”
                    </p>
                </i>
                
                <img ng-src="app/assets/images/Civil-War-Wallpaper-HD.jpg" width="1050" height="600 ">
                &nbsp;

               
                <p contenteditable="true"  class = "textEditor18">
            
                    It’s as if Marvel has given up telling whole stories at this point and knows that we’re all a captive audience bingewatching a supersized TV series together in movie theaters. Despite Civil War‘s deft handling of comic asides to keep the tone light, it’s a little sad and incomplete. The overall effect is contemplative rather than thrilling. That miserable reflection feeling has worked wonders before in franchise films like The Empire Strikes Back and The Two Towers but they were middle films in trilogies with a clear ending in sight. Civil War is the umpteenth film in a series possibly without end so its deployment is not quite as satisfying.
                </p>
                
            </h3>
           
            <h3 class="md-header">Comments:</h3> 
            <h4 class="md-subhead"> good movie...</h4>  
            <md-input-container class="md-block">
                <div layout-gt-xs = "row">
                <form  name="userForm" id="userForm" data-ng-hide="reviewed">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Your comments...(you can add image also.)</label>
                         <input type="text" name="message" id="user_input"><br><br/><br>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs> 
                       <input type="file" name="file" onchange="angular.element(this).scope().photoChanged(this.files)" />
                    </md-input-container> 

                    <md-button class="md-raised md-primary" type= "submit" ng-click="vm.showInput();" data-ng-model="reviewed">
                      <ng-md-icon icon="save" size="20"></ng-md-icon> submit
                    </md-button> 

                </form>   
            </md-input-container> 
            <md-input-container class="md-block" flex-gt-xs> 
                <h3 class="md-subheader"> Note: Its working without backend.So image could't be place properly</h3>
                <h4 class="md-subheader" style="position: black;">
                    <img id="output"/ width="400" height="200" ng-src="{{ thumbnail.dataUrl }}">
                    <span id='display' style="color: black;
                        position: absolute;
                        font-weight: 100;
                        left: 0px;
                        top: 0px;">
                    </span>
                </h4> 
            </md-input-container> 
        </md-card-content>
    </md-card>
</div>



           